@import url(../fonts/fonts.css);
body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    background: url("../images/bg.png") repeat 0 0;
}
ul, li, p, h1, h2 {
    margin: 0;
    padding: 0;
}
ul, li {
    list-style: none;
}
ul.dashed {}
ul.dashed li {
    padding-left: 15px; 
    position: relative;
}
ul.dashed li:before {
    content: "— ";
    position: absolute;
    left: 0px;
   }
.clear {
    clear:both;
    overflow: hidden;
    height: 0px;
}
.wrapper {
    min-width: 1024px;
    max-width: 1440px;
    width:100%;
    margin: 0 auto -81px;
    position: relative;
    min-height: 100%;
    height: auto !important;
    height: 100%;
    background: #f4f2e9;
}
.push {
    height: 81px;
}
/*.main-page-wrapper {*/
    /*min-height: 820px;*/
/*}*/
.horizontal-top-repeat {
    position: absolute;
    left: 0;
    right: 0;
    top:0;
    background: url("../images/top-horizontal-repeat.png") repeat-x 0 0;
    height: 353px;
    z-index: 0;
}
.horizontal-bottom-repeat {
    position: absolute;
    left: 0;
    right: 0;
    bottom:0;
    background: url("../images/bottom-horizontal-repeat.png") repeat-x 0 0;
    height: 353px;
    z-index: 0;
}
.vertical-left-repeat {
    position: absolute;
    left: 0;
    top:0;
    bottom: 0;
    background: url("../images/left-vertical-repeat.png") repeat-y 0 0;
    height: 100%;
    z-index: 0;
    width: 512px;
}
.vertical-right-repeat {
    position: absolute;
    right: 0;
    top:0;
    bottom:0;
    width: 500px;
    background: url("../images/right-vertical-repeat.png") repeat-y 0 0;
    height: 100%;
    z-index: 0;
}
.left-top-corner {
    background: url("../images/left-top-corner.png") no-repeat 0 0;
    width: 512px;
    height: 352px;
    position: absolute;
    left: 0;
    top:0;
    z-index: 2;
}
.right-top-corner {
    background: url("../images/right-top-corner.png") no-repeat 1px 0;
    width: 500px;
    height: 352px;
    position: absolute;
    right: 0;
    top:0;
    z-index: 2;
}
.left-bottom-corner {
    background: url("../images/left-bottom-corner.png") no-repeat 0 0;
    width: 512px;
    height: 388px;
    position: absolute;
    left: 0;
    bottom:0;
    z-index: 2;
}
.right-bottom-corner {
    background: url("../images/right-bottom-corner.png") no-repeat 0 0;
    width: 500px;
    height: 388px;
    position: absolute;
    right: 0;
    bottom:0;
    z-index: 2;
}
.layout {
    overflow: hidden;
    position: relative;
    z-index: 3;
}
.logo {
    display: block;
    text-decoration: none;
    border: none;
    width: 244px;
    margin: 48px auto 0;
}
.logo img {
    border: none;
}
.slider-bg {
    position: absolute;
    width: 100%;
    z-index: 1;
    height: 310px;
    top:122px;
}
.slider-left-part {
    background: url("../images/slider-bg-l.png") no-repeat 0 0;
    width: 509px;
    height: 310px;
    position: absolute;
    left: 0;
    top:0;
}
.slider-right-part {
    background: url("../images/slider-bg-r.png") no-repeat 0 0;
    width: 514px;
    height: 310px;
    position: absolute;
    right: 0;
    top:0;
}
.slider-center-part {
    background: url("../images/slider-bg-c.png") repeat-x 0 0;
    left: 509px;
    right:514px;
    height: 310px;
    position: absolute;
}
.help {
    position: absolute;
    left: 23px;
    top:15px;
    opacity: 0.7;
    width: 12px;
    height: 25px;
    background: url("../images/icons.png") no-repeat -39px 0;
}
.help:hover {
    opacity: 1;
}
.log-key {
    position: absolute;
    right: 23px;
    top:15px;
    width: 18px;
    height: 25px;
    background: url("../images/icons.png") no-repeat 0 0;
}
.log-key:hover {
    background-position: -19px 0;
}
.slider {
    width: 100%;
    overflow: hidden;
    position: relative;
    margin-top: 26px;
}
.slider,
.slider ul,
.slider li {
    width: 100%;
    height: 310px;
}
.slider li {
    display: inline-block;
    text-align: center;
    position: relative;
}
.slider li img {
    margin-top: 42px;
}
.slide-to {
    width: 42px;
    height: 49px;
    background: url("../images/slider-controls.png") no-repeat 0 0;
    position: absolute;
    top:50%;
    margin-top: -24px;
    cursor: pointer;
    z-index: 2;
}
.slide-to-left {
    left: -33px;
}
.slide-to-right {
    right: -33px;
    background-position: -42px;
}
.content {
    margin: 25px 64px;
}
.inner .content {
    margin-top: 22px;
}
.col {
    float: left;
}
.col h2 {
    font-family: franklingothicbookxcmpcRg, sans-serif;
    font-weight: normal;
    font-size: 42px;
    color: #333333;
    margin-bottom: 5px;
}
.col p {
    font-family: FranklinGothicMediumCondRegular, sans-serif;
    color: #333333;
    font-size: 14px;
    line-height:18px;
}
.col1 {
    width: 35.7%;
}
.col2 {
    width: 33.9%;
}
.col3 {
    width: 30.4%;
}
.col1 p,
.col1 h2 {
    margin:0 48px 5px 48px;
}
.col2 p,
.col2 h2 {
    margin-right: 48px;
}
.menu-button {
    font-family: franklingothicbookxcmpcRg, sans-serif;
    font-weight: normal;
    font-size: 26px;
    color: #333333;
    position: absolute;
    height: 59px;
    left: 0;
    top:-1px;
    display: none;
}
.menu-button .left-part-b,
.menu-button .right-part-b {
    width: 107px;
    height: 59px;
    background: url("../images/btn-left.png") no-repeat 0 0;
    position: absolute;
    left: 0;
    top:0;
    z-index: 1;
}
.menu-button .right-part-b {
    background: url("../images/btn-right.png") no-repeat right 0;
    left: auto;
    right: 0;
}
.menu-button .bg {
    background: url("../images/btn-bg.png") repeat-x 0 0;
    height: 59px;
    position: absolute;
    z-index: 0;
    left: 107px;
    right: 107px;
}
.menu {
    min-width: 898px;
    width: 100%;
    height: 59px;
    position: relative;
    margin-top: 40px;
    text-align: center;
}
.inner .menu {
    margin-top: 0px;
}
.menu ul {
    padding-top: 11px;
}
.menu .left-part,
.menu .right-part {
    height: 59px;
    background: url("../images/menu.png") no-repeat 0 0;
    position: absolute;
    left: 0;
    top:0;
    z-index: 1;
    width: 449px;
}
.inner .menu .left-part,
.inner .menu .right-part {
    background-image: url("../images/menu-inner.png");
}
.menu .right-part {
    background-position: right 0;
    left: auto;
    right: 0;
}
.menu .menu-bg {
    background: url("../images/menu-bg.png") repeat-x 0 0;
    position: absolute;
    height: 59px;
    left: 449px;
    right: 449px;
}
.menu li {
    display: block;
    width: 15%;
    position: relative;
    z-index: 3;
    float: left;
}
.menu li a {
    font-family: franklingothicbookxcmpcRg, sans-serif;
    font-weight: normal;
    font-size: 26px;
    color: #333333;
    display: inline-block;
    text-decoration: none;
}
.menu li a.hovered {
    color: #fff;
}
.menu li.registration-button {
    width: 40%;
}
.menu li.registration-button a {
    font-size: 31px;
}
.menu li.font28 a {
    font-size: 28px;
}
.inner .menu li {
    padding-top: 8px;
}
.inner .menu li.font28 {
    padding-top: 5px;
}
.inner .menu li.registration-button {
    padding-top: 2px;
}
.submenu {}
    .submenu.left {
        padding: 50px 0 0 29px;
        width: 300px;
    }
    .submenu.left ul {
       
    }
    .submenu ul li {
        color: #a6a49f;
        font-family: franklingothicbookxcmpcRg,sans-serif;
        font-size: 26px;
        line-height: 1em;
        font-weight: normal;
        margin-bottom: 21px;
    }
    .submenu ul li a {
        display: inline-block;
        text-decoration: none;
        color: #a6a49f;
        transition: color 200ms linear 0s;
    }
    .submenu ul li a:hover {
        color: #000;
        transition: color 200ms linear 0s;
    }
    .submenu ul li.active > a {
        color: #f15612;
    } 
    .submenu ul ul {
        padding-top: 10px;
    }
    .submenu ul ul li {
        font-family: FranklinGothicMediumCondRegular, sans-serif;
        font-size: 12px;
        line-height: 1em;
        margin-bottom: 10px;
    }
.pagetext {
    margin-left: 330px;
    padding-top: 36px;
    }
    .pagetext h2 {
        font-family: franklingothicbookxcmpcRg, sans-serif;
        font-weight: normal;
        font-size: 42px;
        color: #333333;
        margin-bottom: 5px;
    }
    .pagetext h2.gold {
        color: #ebaf0f;
    }
    .pagetext p {
        font-family: FranklinGothicMediumCondRegular, sans-serif;
        color: #333333;
        font-size: 16px;
        line-height:21px;
        margin-bottom: 1em;
    }
.curved {
/*    border-bottom-left-radius: 10px 100%;
    border-top-left-radius: 10px 100%;
    border-bottom-right-radius: 10px 100%; 
    border-top-right-radius: 10px 100%; 
    -webkit-border-bottom-left-radius: 10px 100%;
    -webkit-border-top-left-radius: 10px 100%;
    -webkit-border-bottom-right-radius: 10px 100%; 
    -webkit-border-top-right-radius: 10px 100%; */
    border-radius:  10px 10px 10px 10px / 100% 100% 100% 100%;
    -webkit-border-radius:  10px 10px 10px 10px / 100% 100% 100% 100%;
    padding: 10px 15px;
    margin: 0 -5px;
    margin-bottom: 1em;
    display: inline-block;    
    }
    .curved.curved-all {
        margin: 0;
        padding: 0;
        overflow: hidden;
    }
    .curved.curved-all .curved-inner {
        border-radius:  100% 100% 100% 100% / 5px 5px 5px 5px;
        -webkit-border-radius:  100% 100% 100% 100% / 5px 5px 5px 5px;
        /*border-bottom-left-radius: 100% 5px;
        border-top-left-radius: 100% 5px;
        border-bottom-right-radius: 100% 5px; 
        border-top-right-radius: 100% 5px; 
        -webkit-border-bottom-left-radius: 100% 5px;
        -webkit-border-top-left-radius: 100% 5px;
        -webkit-border-bottom-right-radius: 100% 5px; 
        -webkit-border-top-right-radius: 100% 5px; */
        padding: 10px 15px;
        display: inline-block;
    }
    .curved.yellow,
    .curved-all.yellow .curved-inner {
        background: #ebaf0f;
    }
    .curved-all.yellow {
        background: transparent;
    }
.opisanie .curved {
    margin: 0 -5px 15px -5px;
}
.opisanie .curved.curved-all .curved-inner {
    display: block;
}
.promo-text {
    display: block;    
    color: #FFF;    
    }
    .promo-text table {
        width: 100%;
    }
    .promo-text p {
        color: #FFF;
        font-size: 18px;
        line-height: 24px;
        margin: -5px 0 0 0;
        padding-left: 3px;
        font-family: FranklinGothicMediumCondRegular, sans-serif;
    }
    .promo-text .num {
        font-size: 52px;
        line-height: 1em;
        font-weight: bold;
        font-family: franklingothicbookxcmpcRg, sans-serif;
    }
.btn-try {
    font-size: 31px;
    font-family: franklingothicbookxcmpcRg, sans-serif;
    color: #FFF;
    background-color: #cdcbc4;    
    transition: background-color 200ms linear 0s;
    text-decoration: none;
    border-radius: 5px 5px 5px 5px / 100% 100% 100% 100%;
    -webkit-border-radius: 5px 5px 5px 5px / 100% 100% 100% 100%;
    padding: 12px 20px 13px 25px;
    margin: 0 -5px;
    margin-bottom: 1em;
    display: inline-block;
    position: relative;
    }
    .btn-try span {
        padding-left: 43px;
        position: relative;
        top: -2px;
    }
    .btn-try:hover {
        background-color: #f15612;
        transition: background-color 200ms linear 0s;
    }

.capabilities {
    font-family: FranklinGothicMediumCondRegular,sans-serif;
    color: #a6a49f;
    font-size: 16px;
    }   
    .capabilities .one {
        position: relative;
        margin-bottom: 10px;
    }
    .capabilities h2 {
        font-size: 30px;
    }
    .capabilities .text {
        padding-right: 100px;
        position: relative;
        margin-bottom: 25px;
        }
        .capabilities .text .icon {
            position: absolute;
            top: 50%;
            margin-top: -17px;
            left: -83px;
        }
    .capabilities .toggle {
            position: absolute;
            display: block;
            top: 36px;
            right:-22px;
        }
        .capabilities .toggle span {
            display: block;
            width: 42px;
            height: 49px;
            border-bottom-left-radius: 5px 100%;
            border-top-left-radius: 5px 100%;
            -webkit-border-bottom-left-radius: 5px 100%;
            -webkit-border-top-left-radius: 5px 100%;
            position: absolute; 
            top: 0;
            left: 0;
        }
        .capabilities .toggle .open {
            background: #ebb116  url('../images/char-gt.png') no-repeat center center;
        }
        .capabilities .toggle .clos {
            background: #333333 url('../images/char-x.png') no-repeat center center;
            display: none;
        }
    .capabilities .line {
        height: 11px;
        background: url("../images/capabilities-line.png") no-repeat right top;
        margin: 0 0 0 0 ;
    }
    .capabilities .full-text {
        display: none;
        color: #434343;
        line-height: 1.5em;        
        padding-bottom: 25px;
        }
        .capabilities .full-text h3 {
            font-size: 20px;
            font-weight: normal;
            color: #ebaf0f;
            margin: 0 0 15px 0;
        }
        .capabilities .full-text h3,
        .capabilities .full-text .cont {
            padding-right: 150px;
        }
        .capabilities .full-text .smbr {
            margin-bottom: 5px;
        }
        .capabilities .full-text .line {
            margin: 0 0 15px 0 ;
        }
        .capabilities .full-text .small {
            font-size: 14px;
        }
        .imaged-box {
            position: relative;
            display: table;
        }
        .imaged-box .img {
            padding: 5px 25px 0 0;
            display: table-cell;
            vertical-align: top;
        }
        .imaged-box .txt {
            display: table-cell;
            vertical-align: top;
            font-family: FranklinGothicMediumCondRegular,sans-serif;
        }
        .imaged-box .big {
            font-size: 18px;
        }
        .imaged-box .gray {
            color: #a6a49f;
        }
        .gallery {

            }
            .gallery .thumb { 
                display: inline-block; 
                width: 100px; 
                height: 90px;
                overflow: hidden;
                position: relative;
            }
            .gallery .thumb img { 
                position: relative;
            }
            .gallery .thumb .mask {
                width: 100px;
                height: 90px;
                display: block;
                position: absolute;
                top:0;
                left: 0;
                outline: 0;
                background: url("../images/img-mask.png") no-repeat 0 0;
            }

.capabilities.help-variant .full-text .cont,
.capabilities.help-variant .text,
.capabilities.help-variant h2 {
    padding-left: 20px;
    }

    .capabilities.help-variant h2 {
        position: relative;
    }
    .capabilities.help-variant h2:before {
        content: "—";
        position: absolute;
        left: 0;
    }
    .capabilities.help-variant .full-text .cont p {
        color: #333333;
        font-size: 14px;
        line-height: 19px;
    }

    .capabilities.help-variant .full-text .cont p:last-child {
        margin-bottom: 0;
    }

.help-search,
.help-search .h-l,
.help-search .h-r {
    background: url("../images/search-bg.png") no-repeat center 0;
    height: 32px;
    }
    .help-search {
        position: relative;  
        margin: 13px -5px 20px -5px;
        overflow: hidden;
    }
    .help-search .h-l {
        width: 200px;
        background-position: 0 0;
        position: absolute;        
        top: 0;
        left: 0;
    }
    .help-search .h-r {
        width: 200px;
        background-position: right 0;
        position: absolute;
        top: 0;
        right: 0;
    }
    .help-search form {
        position: relative;
        z-index: 3;
        margin: 0 36px 0 0px;        
    }
    .help-search input {
        background: transparent;
        width: 100%;
        display: block;
        padding: 0 5px;
        height: 32px;
        font-size: 24px;
        color: #333333;
        font-family: franklingothicbookxcmpcRg, sans-serif;
        border: 0;
        outline: none;
/*        background: red;
        opacity: 0.5;*/
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
    .help-search button {
        display: block;
        width: 36px;
        height: 32px;
        background: transparent;
        padding: 0;
        border: 0;
        position: absolute;
        top: 0;
        right: 0;
        cursor: pointer;
    }

.search-page {}

.faq {}
    .faq h2 {
        font-size: 24px;
        cursor: pointer;
        padding: 5px 5px;
        margin: 0;        
        color: #333;
        transition: color 200ms linear 0s;
    }
    .faq .opened h2 {
        color: #f15612;
    }
    .faq h2:hover {
        color: #f15612;
        transition: color 200ms linear 0s;
    }
    .faq a {
        color: #a6a49f;        
        text-decoration: none;
    }
    .faq a:hover {
        /*color: #f15612;*/
        color: #333333;
    }
    .faq > ul > li {
        background: url("../images/capabilities-line.png") no-repeat right 0;        
    }
    .faq > ul > li:first-child {
        background: transparent;
    }
    .faq .txt {
        display: none;
        padding: 0 5px 5px 5px; 
    }
    .faq .txt li {
        font-size: 16px;
        font-family: FranklinGothicMediumCondRegular,sans-serif;
        margin-bottom: 5px;
        padding-right: 100px;
        background: transparent;
    }
    .faq .marked {
        color: #fff !important;
        background: #ebaf0f;
    }


.distribution {}
    .distribution .list {
        padding-right: 100px;
    }
    .distribution .list li {
        /*width: 310px;*/
    }
    .distribution .list li.d01 {
        margin-top: 10px;
        height: 78px;
    }
    .distribution .list li.d02 {
        height: 100px;
    }
    .distribution .list li.d03 {
        height: 55px;
    }
    .distribution .list li.d04 {}

.vp-player {}
    .vp-player .imaged-box {
        margin-bottom: 10px;
    }
    .vp-player .list {
        padding-right: 100px;
    }
    .vp-player .list li {
        /*width: 310px;*/
    }
    .vp-player .list li.d01 {
        margin-top: 10px;
        height: 55px;
    }
    .vp-player .list li.d02 {
        height: 105px;
    }
    .vp-player .list li.d03 {
        height: 65px;
    }
    .vp-player .list li.d04 {}

.webmobtv {}
    .webmobtv p {
        height: 42px;
    }
    .webmobtv h3 {
        font-family: franklingothicbookxcmpcRg,sans-serif;
        font-size: 26px;
        color: #ebaf0f;
        font-weight: normal;
        position: relative;
        margin: 0;
    }
    .webmobtv .imaged-box {
        height: 137px;
    }
    .webmobtv .connector {
        background: url('../images/content-api.png');
        display: block;
        width: 137px;
        height: 63px;
        position: absolute;
        left: -150px;
        top: 10px;
    }

.reklama-page {}
    .reklama-page .pagetext {
        float: left;
        width: 68%;
        margin: 0;
        }
        .reklama-page .col-cont {
            padding: 0 30px;    
        }
        .reklama-page .pagetext h2 {
            font-size: 39px;
            padding-right: 50px;
        }
        .reklama-page .pagetext a {
            color: #333333;
            text-decoration: none;            
        }
        .reklama-page .pagetext a:hover {
            color: #f15612;
        }
        .reklama-page .pagetext p {
            padding-right: 50px;
        }
        .reklama-page .pagetext .small {
            font-size: 12px;
            line-height: 1.4em;
        }
        .reklama-page .pagetext .curved {
            margin: 25px -5px 35px -5px;
        }
        .reklama-page .pagetext .curved-inner {
            font-size: 17px;
            color: #FFF;
            font-family: FranklinGothicMediumCondRegular,sans-serif;
            padding: 15px;
        }
        .reklama-page .imaged-box .txt {
            padding-right: 50px;
            position: relative;
            vertical-align: middle;
        }
        .reklama-page .imaged-box .txt .arrow {
            display: block;
            position: absolute;
            right: -10px;
            top:50%;
            margin-top: -15px;
            background: url('../images/char-gt.png') no-repeat center center;
            width: 30px;
            height: 30px;
        }
    .reklama-page .sidetext {
        float: right;
        width: 30%;
        color: #a6a49f;
        font-size: 14px;
        font-family: FranklinGothicMediumCondRegular,sans-serif;
        margin-top: 45px;
        }
        .reklama-page .sidetext ul {
            padding-right: 30px;
        }
        .reklama-page .sidetext ul li {
            margin-bottom: 13px;
        }
        .reklama-page .sidetext ul ul {
            font-size: 12px;
            padding-top: 5px;
        }
        .reklama-page .sidetext ul ul li {
            margin-bottom: 5px;
        }
        .reklama-page .sidetext ul ul li:before {
            content: "";
        }

.help-page {}
    .help-page .submenu {
        float: right;
        padding: 50px 0 0 0;
        width: 150px;
    }
    .help-page .pagetext {
        margin-right: 300px;
        margin-left: 0;
        padding-left: 29px;
    }
    .help-page .pagetext h2 {
        font-size: 36px;
        margin-bottom: 35px;
    }
    .help-page .pagetext .small {
        font-size: 14px;
        color: #a6a49f;
        line-height: 1.4em;
    }

.download { position: relative;}
    .download .img {
        position: absolute;
        right: 0;
        top: -64px;
        display: block;
        width: 139px;
        height: 118px;
        background: url('../images/tv.png') no-repeat 0 0;
    }
    .download .curved {
        font-family: franklingothicbookxcmpcRg,sans-serif;
        font-size: 30px;
        margin-left: -5px;
        }
        .download .curved.curved-all .curved-inner {
            padding: 10px 20px 10px 65px;
            background-image: url('../images/icon-download.png');
            background-repeat: no-repeat;
            background-position: 20px center;
            color: #FFF;
            background-color: #ebaf0f;
            transition: background-color 200ms linear 0s;
        }
        .download .curved.curved-all:hover .curved-inner {
            background-color: #f15612;
            transition: background-color 200ms linear 0s;
        }
    .download .separate {
        margin-top: 30px;
        font-size: 23px;
        font-family: franklingothicbookxcmpcRg,sans-serif;
        }
        .download .separate a {
            color: #a6a49f;
            transition: color 200ms linear 0s;
        }
        .download .separate a:hover {
            color: #333;
            transition: color 200ms linear 0s;
        }

    h2.right-indent {}
    h2.right-indent::after {
        content: "";
        display: inline-block;
        width: 100px;
        height: 30px;
        background: transparent;
    }

.help-page.ask {}
    .help-page.ask h2 {
        margin-bottom: 25px;
    }
    .help-page.ask .pagetext {
        text-align: center;
        padding-left: 300px;
        background: url('../images/tv-ask.png') no-repeat 15% 70px;
    }

    .textarea-box {
        display: inline-block;
        width: 263px;
        position: relative;
        border: 1px solid #d0cdc6;
        background: #fff;
        }
        .textarea-box .c {
            position: absolute;
            width: 100px;
            height: 60px;
            background: url('../images/textarea.png') no-repeat;
        }
            .textarea-box .c01 {
                left: -1px;
                top: -1px;
                background-position: 0 0;
            }
            .textarea-box .c02 {
                right: -1px;
                top: -1px;
                background-position: right 0;
            }
            .textarea-box .c03 {
                left: -1px;
                bottom: -1px;
                background-position: 0 bottom;
            }
            .textarea-box .c04 {
                right: -1px;
                bottom: -1px;
                background-position: right bottom;
            }


    .help-page.ask textarea {
        /*background: rgba(0,255,0,0.5);*/
        background: transparent;
        border: 0;
        padding: 15px;
        width: 100%;
        height: 132px;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        position: relative;
        z-index: 2;
        width: 263px;
        min-width: 263px;
        max-width: 263px;
        min-height: 120px;        
    }
    
    .help-page.ask textarea,
    .help-page.ask input.custom {
        font-family: FranklinGothicMediumCondRegular,sans-serif;
        font-weight: normal;
        color: #333;
        font-size: 16px;
    }

    .help-page.ask input.custom {
        background: url('../images/input.png') no-repeat 0 0  transparent;
        width: 233px;
        height: 32px;
        padding: 0 15px;
        border: 0;
    }

    .help-page.ask label {
        color: #a6a49f;
        font-family: FranklinGothicMediumCondRegular,sans-serif;
        font-weight: normal;
        font-size: 16px;
        display: block;
        padding-bottom: 3px;
    }

    .help-page.ask p {
        margin: 0 0 10px 0;
    }

    .help-page.ask .submit-box {
        margin-top: 30px;
    }

    .help-page.ask .submit {        
        width: 196px;
        height: 49px;
        background: url('../images/btn-gold.png') no-repeat 0 0 transparent;
        font-size: 30px;
        color: #FFF;
        font-family: franklingothicbookxcmpcRg,sans-serif;
        padding: 0;
        border: 0;
        cursor: pointer;
    }


    .help-page.ask .submit-box .curved.curved-all {

    }
    .help-page.ask .submit-box .curved {
        border-radius: 5px 5px 5px 5px / 100% 100% 100% 100%;
        padding: 0;
        background-color: #ebaf0f;
        transition: background-color 200ms linear 0s;
    }
    .help-page.ask .submit-box .curved:hover {        
        background-color: #f15612;        
        transition: background-color 200ms linear 0s;
    }

    .help-page.ask .submit-box .curved .submit {
        background: transparent;
    }

.partners {}
    .partners .one { 
        display: inline-block; 
        vertical-align: middle;
        width: 55px;
        margin: 0 35px 20px 0;
        text-align: center;
    }

.map-page.pagetext {
    margin-right: 150px;
    }
    .map {
        position: relative;
    }
    .address-box {
        position: absolute;
        top: 190px;
        left: 68px;
    }
    .address-box .text {
        color: #FFF;
        font-size: 16px;
        position: relative;
    }
    .address-box .text h2 {
        font-size: 30px;
        color: #FFF;
        margin-bottom: 10px;
    }
    .address-box .text p {
        margin: 10px 0 0px 0;
        line-height: 1.2em;
        color: #fff;
        position: relative;
    }

    .address-box .text a {
        color: #fff;
        transition: color 200ms linear 0s;
        text-decoration: none;
    }
    .address-box .text a:hover {
        color: #333;
        color: #f15612;
        transition: color 200ms linear 0s;
    }

    .address-box .curved.curved-all .curved-inner {
        border-radius: 100% 100% 100% 100% / 10px 10px 10px 10px;
        -webkit-border-radius: 100% 100% 100% 100% / 10px 10px 10px 10px;
        padding: 20px 25px 25px;
    }

    .address-box .pointer {
        display: block;
        width: 263px;
        height: 94px;
        background: url('../images/map-pointer.png') no-repeat 0 0 transparent;        
        position: absolute;
        left: 50%;
        top: -67px;
    }

    .phone-num { 
        position: relative;
        }
        .phone-num .plus { 
            position: absolute;
            margin-left: -10px;
        }


.tarifs-page {
        position: relative;
        padding-top: 40px;
    }

    .tarifs-page .line {
        position: relative;
        height: 50px;
        background: url('../images/tarif-top-bg.png') repeat-x 0 -52px;      
        text-align: center;
    }
    .tarifs-page .line .left,
    .tarifs-page .line .right {
        background: url('../images/tarif-top.png') no-repeat;
        position: absolute;
        top: 0;
        height: 50px;
        width: 380px;
    }
    .tarifs-page .line .left {
        left: 0;
        background-position: left -52px;
    }
    .tarifs-page .line .right {
        right: 0;
        background-position: right -52px;
    }
    .tarifs-page .line.top {
        margin-bottom: -62px;
    }

    .tarifs-page .line.bottom {
        background: url('../images/tarif-bottom-bg.png') repeat-x 0 -32px;
    }
    .tarifs-page .line.bottom .left {
        background: url('../images/tarif-bottom.png') left -32px;
    }
    .tarifs-page .line.bottom .right {
        background: url('../images/tarif-bottom.png') right -32px;
    }

    .tarifs-page .line.bottom .text {
        background: #f4f2e9;
        color: #bcbbb5;
        display: inline-block;
        width: 200px;
        height: 60px;
        font-size: 18px;
        font-family: franklingothicbookxcmpcRg,sans-serif;
        padding-top: 8px;
        cursor: pointer;
        position: relative;
    }

    .tarifs-page .line.bottom .text .open,
    .tarifs-page .line.bottom .text .clos {
        display: block;
        position: absolute;
        left: 0;
        top:0;
        width: 200px;        
    }

    .tarifs-page .line.bottom .text .clos {
        display: none;
        padding-top: 10px;
    }

    .tarifs-page .button {
        text-align: center;        
    }
    .tarifs-page .button a.curved {
        font-family: franklingothicbookxcmpcRg,sans-serif;
        font-size: 30px;
        color: #FFF;
        border-radius: 5px 5px 5px 5px / 100% 100% 100% 100%;
        width: 170px;
        text-decoration: none;
        transition: background-color 200ms linear 0s;   
        background-color: #ebaf0f;
        margin: 0;
    }
    .tarifs-page .button a.curved:hover {
        transition: background-color 200ms linear 0s;   
        background-color: #f15612;
    }

    .tarifs-page .placeholder {
        position: relative;
        display: inline-block;
    }

    .tarifs-page .button {
        padding-top: 25px;
    }
    .tarifs-page .button .more {
        font-family: FranklinGothicMediumCondRegular,sans-serif;
        position: absolute;
        font-size: 14px;
        color: #a6a49f;
        right: -165px;
        text-align: left;
        top: 20px;
        width: 150px;
        }
        .tarifs-page .button .more a {
            color: #a6a49f;
            transition: color 200ms linear 0s;   
        }
        .tarifs-page .button .more a:hover {
            color: #333;
            transition: color 200ms linear 0s;   
        }
        

.tarif {
    border-collapse: collapse;
    width: 100%;
    position: relative;
    z-index: 2;
    font-family: franklingothicbookxcmpcRg,sans-serif;
    }

.additional {
    display: none;
}
    .tarif tr td:first-child {
        padding-left: 29px;
    }

    .tarif .label { width: 25%}
    .tarif .col1,
    .tarif .col2,
    .tarif .col3,
    .tarif .col4,
    .tarif .col5 {
        width: 15%
    }

    .tarif th {
        font-size: 26px;
        text-align: left;
        font-weight: normal;
        color: #333333;
        padding: 10px 10px 15px 10px;
    }

    .tarif th .small {
        font-size: 15px;
        vertical-align: top;        
    }

    .tarif td {
        font-size: 22px;
        text-align: left;
        font-weight: normal;
        color: #333333;
        padding: 10px ;
    }

    .tarif .big {
        font-size: 24px;
    }

    .tarif .gold {
        color: #ebaf0f;
    }

    .tarif .red {
        color: #f15612;
    }

    .tarif .ico {
        display: inline-block;
        width: 16px;
        height: 16px;
        background: url('../images/tarif-icons.png') no-repeat 0 0 transparent;        
        }
        .tarif .ico.star.empty {
            background-position: -16px 0;
        }
        .tarif .ico.star.gold {
            background-position: 0 0;
        }
        .tarif .ico.mail {
            background-position: -32px 0;
        }
        .tarif .ico.phone {
            background-position: -48px 0;
        }
        .tarif .ico.inf {
            width: 18px;
            background-position: -82px 0;
        }
        .tarif .ico.inf.gold {
            background-position: -64px 0;
        }

    .tarif tr { 
        opacity: 0.5;
        cursor: pointer;
        transition: opacity 200ms linear 0s;
    }

    .tarif tr td {
        border: 1px solid transparent;
        border-width: 1px 0 1px 0;
    }

    .tarif tr.main { opacity: 1 }

    .tarif tr:hover { 
        opacity: 1;
        transition: opacity 200ms linear 0s;
    }

    .tarif .plus {
        display: inline-block;
        width: 17px;
        text-align: center;
    }

    .tarif tr.head + tr.hover td {
        border-top-color: transparent;
    }

    .tarif tr.hover td {
        border-color: #b6b5b0;
    }

    .tarif tr.preHover td {
        border-bottom-color: #b6b5b0;
    }


/*------------------------------------FOOTER -----------------------------------------*/
.footer {
    position: relative;
    height: 81px;
    overflow: hidden;
    z-index: 5;
    min-width: 1024px;
    max-width: 1440px;
    width:100%;
    margin: 0 auto ;
}
.footer .col {
    float: left;
    opacity: 0.1;
    position: relative;
    top:2px;
}
.footer .col1 {
    background: url("../images/footer.png") no-repeat 0 0;
    width: 148px;
    height: 102px;
    margin: 0 5% 0 55px;
}
.footer .col2 {
    font-family: franklingothicbookxcmpcRg, sans-serif;
    font-weight: normal;
    font-size: 23px;
    color: #434343;
    width: 47%;
}
.footer .col3 {
    width: 250px;
    float: right;
    margin-right: 25px;
}
.footer .col3 a {
    display: inline-block;
    background: url("../images/partners.png") no-repeat 0 0;
    margin: 0 75px 23px 0;
}
.footer .col3 a.disney {
    width: 43px;
    height: 22px;
    background-position: -2px 0;
}
.footer .col3 a.forbes {
    width: 43px;
    height: 22px;
    background-position: -120px 0;
}
.footer .col3 a.twoXtwo {
    width: 43px;
    height: 22px;
    background-position: -2px -40px;
}
.footer .col3 a.glamour {
    width: 43px;
    height: 22px;
    background-position: -120px -40px;
}
.footer .col3 a.cosmopolitan {
    width: 47px;
    height: 22px;
    background-position: -2px -80px;
    margin-right: 71px;
}
.footer .col3 a.muz {
    width: 43px;
    height: 22px;
    background-position: -120px -80px;
}
.questions {
    width: 576px;
    height: 82px;
    background: url("../images/question-bg.png") no-repeat center top;
    position: absolute;
    left: 50%;
    top: 57px;
    margin-left: -288px;
    text-align: center;
}
.questions .ask {
    margin: 5px auto;
    font-family: FranklinGothicMediumCondRegular, sans-serif;
    font-size: 13px;
    color: #f4f2e9;
    cursor: pointer;
    display: inline-block;
}
.question-tems {
    margin-top: 17px;
}
.question-tems a {
    display: inline-block;
    color: #fff;
    font-family: FranklinGothicMediumCondRegular, sans-serif;
    font-size: 14px;
    text-decoration: none;
    margin: 0 9px;
}
.question-tems a:hover {
    text-decoration: underline;
}
/*------------------------- POPUP (LOGIN AND REGISTERATION)------------------------*/
.popup {
    position: fixed;
    z-index: 9999;
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    top:0;
    bottom: 0;
    background: url("../images/pop-up.png") no-repeat center center;
    display: none;
}
.log-reg-wrap {
    position: absolute;
    width: 362px;
    height: 396px;
    top:50%;
    left: 50%;
    margin: -215px 0 0 -181px;
}
.reg-btn,
.log-btn {
    background: url("../images/reg-btn.png") no-repeat 0 0;
    width: 361px;
    height: 48px;
    cursor: pointer;
    position: absolute;
    bottom: -2px;
    left: 1px;
    text-align: center;
    font-family: franklingothicbookxcmpcRg, sans-serif;
    font-size: 30px;
    color: #fff;
    padding-top: 11px;
}
.close {
    width: 15px;
    height: 15px;
    position: absolute;
    right: -21px;
    top:-15px;
    background: url("../images/close-popup.png") no-repeat 0 0;
    cursor: pointer;
}
.registration-layout .close {
    background-position: -15px;
}
.log-btn {
    background: url("../images/log-btn.png") no-repeat 0 0;
    left: 2px;
    color: #ebb013;
    bottom: -6px;
}
.login-layout {
    background: url("../images/log-bg.png") no-repeat 0 0;
    width: 362px;
    height: 396px;
    position: absolute;
    left: 0;
    top:0;
}
.registration-layout {
    background: url("../images/reg-bg.png") no-repeat 0 0;
    width: 362px;
    height: 396px;
    position: absolute;
    left: 0;
    top:0;
    display: none;
}